doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles/styles.css")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
        title AI,GO DOODLE!
    body
        .gameResult#jsResult
            p 결과 발표!
            p 키워드 : 낙타
            p#jsWinner 우승자: 김영현
            span.restart__btn#jsRestart 다시하기
        .loginBox
                h1.loginBox__title AI, GO DOODLE!
                form#jsLogin
                    input(type="text", placeholder="닉네임을 설정해주세요.")
                p.submitText 엔터를 눌러 입장해주세요.
        .container#jsContainer
            .gameContainer#jsGame
                .timer#jsTimer
                .inform#jsInfo 잠시후 게임이 시작됩니다.
                .keyword#jsKeyword
                .main
                    #jsNotifs
                    canvas.canvas#jsCanvas
                    .controls#jsControls
                        button.reset__btn#jsRemove ↺
                button.ready__btn#jsReady 게임 준비
                .gameName AI, GO DOODLE
                audio(src="" controls loop)
            .chat
                .user__count#jsUsers
                //- .player__board#jsPBoard
                ul.chat__messages#jsMessages
                form.chat__form#jsSendMsg
                    input(placeholder="메시지를 입력해주세요.", type="text")
    
        script.
            window.events = !{events}
        script(src="/socket.io/socket.io.js")
        script(src="/js/main.js") 
    footer
        
        p Capstone Team F project AI,GO DOODLE!