.container {
  background: #393E46;
  font-style: normal;
  font-weight: 100;
  font-family: 'Black Han Sans', sans-serif;
  display: flex;
  .gameContainer {
    position: relative;
    top: 29px;
    width: 740px;
    height: 680px;
    background: #00ADB5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-right: 27px;
    padding: 20px;
    padding-top: 100px;
    .timer {
      position: absolute;
      left: 20px;
      top: 18px;
      width: 150px;
      height: 65px;
      background: #EEEEEE;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 15px;
      font-size: 30px;
      text-align: center;
      padding: 16px 0;
    }
    .inform {
      position: absolute;
      left: 190px;
      top: 10px;
      width: 360px;
      font-size: 25px;
      line-height: 140%;
      text-align: center;
      padding: 4px 0;
      color: #FFFFFF;
    }
    .keyword {
      position: absolute;
      left: 570px;
      top: 18px;
      width: 150px;
      height: 65px;
      background: #EEEEEE;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 15px;
      font-size: 30px;
      text-align: center;
      padding: 16px 0;
    }
    .canvas
    .main {
      .controls {
        margin-top: 25px;
        display: flex;
        align-items: center;
        flex-direction: column;
        .colors {
          margin: 20px;
          display: flex;
          &:hover .color {
            opacity: 0.95;
            transform: translateX(-3px);
          }
        }
      }
    }
    .gameName {
      position: absolute;
      left: 790px;
      top: 640px;
      width: 176px;
      height: 65px;
      border-radius: 15px;
      font-size: 30px;
      line-height: 40px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #EEEEEE;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
  .chatMessages {
    background-color: white;
    height: 80vh;
    border-radius: 10px;
    box-shadow: 0 3px 36px rgba(23, 55, 87, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  }
  .chat {
    position: relative;
    top: 29px;
    width: 20%;
  }
}
button {
  position: absolute;
  left: 345px;
  top: 620px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
    0 1px 3px rgba(0, 0, 0, 0.08);
  border: 0px;
  padding: 4px 6px;
  min-width: 50px;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid #dadce0;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.1s linear;
  &:active {
    transform: scale(0.98);
  }
}
#jsCanvas {
  box-shadow: 1px 1px 3px 1px #dadce0;
  margin-left: 100px;
  border-radius: 15px;
}