@import "reset";
@import "variables";
@import "login";
@import "body";
@import "notifications";
@import "chat";
@import "game";
@import "result";

* {
  box-sizing: border-box;
  font-family: 'Black Han Sans', sans-serif;
}

h1 {
  color: white;
}

button:focus {
  outline: none;
}

html {
  height: 100%;
}

body {
  background-color: $backgroundColor;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  flex-direction: column;
  .main__title {
      color: white;
      margin-bottom: 30px;
      font-size: 40px;
  }
  로그인 박스 & game div 분기 시키기
  .header{
    #jsLogout {
      display: none;
      &.loggedIn {
        display: block;
      }
    }
  }
  .loginBox,
  .gameContainer,
  .chat {
    display: none;
  }
  
  &.loggedOut {
    .loginBox {
      display: block;
    }
  }
  &.loggedIn {
    .gameContainer
    {
      display: flex;
    }
    .chat {
      display: block;
    }

  }
}

footer {
  margin-top: 50px;
  p {
    color: white;
    font-size: 10px;
  }
}
